################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/FinShark/FileContentIndex/3b008870-a7dd-47d4-b765-229c717e1792.vsidx
/.vs/FinShark/FileContentIndex/8a51054b-f8da-488a-a550-20ab83cdd1a5.vsidx
/.vs/FinShark/FileContentIndex/9234b1e7-44ea-4606-b3a0-d7442e0fa78f.vsidx
/.vs/

.fake
API/obj/*
API/bin/*
/API/obj/*
/API/bin/*